.form-container {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.form-container h2 {
  margin-top: 0;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.form-container button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
